/* styles.css */

/* Common styles for multiple pages */
body[data-page-url*="https://www.bilibili.com/"] .left-entry,
body[data-page-url*="https://www.bilibili.com/"] .vip-wrap,
body[data-page-url*="https://www.bilibili.com/"] .trending,
body[data-page-url*="https://www.bilibili.com/"] .history,
body[data-page-url*="https://search.bilibili.com/"] .activity-game-list-wrap,
body[data-page-url*="https://space.bilibili.com/"] .trending
body[data-page-url*="https://www.bilibili.com/video/"] .v_tag,
body[data-page-url*="https://www.bilibili.com/video/"] .comment,
body[data-page-url*="https://www.bilibili.com/video/"] .tag-panel,
body[data-page-url*="https://www.bilibili.com/video/"] .slide_ad,
body[data-page-url*="https://www.bilibili.com/video/"] .rec-list,
body[data-page-url*="https://www.bilibili.com/video/"] .rec-footer,
body[data-page-url*="https://www.bilibili.com/video/"] .right-bottom-banner,
body[data-page-url*="https://www.bilibili.com/video/"] .vcd,
body[data-page-url*="https://www.bilibili.com/video/"] .ad-report.ad-floor-exp,
body[data-page-url*="https://www.bilibili.com/video/"] .pop-live-small-mode.part-undefined,
body[data-page-url*="https://www.bilibili.com/video/"] .pl__info,
body[data-page-url*="https://t.bilibili.com/"] .bili-dyn-sidebar,
body[data-page-url*="https://t.bilibili.com/"] .bili-dyn-banner,
body[data-page-url*="https://t.bilibili.com/"] .right {
  display: none !important;
}


/* Page-specific styles */
body[data-page-url*="https://www.bilibili.com/"] .bili-feed4-layout,
body[data-page-url*="https://www.bilibili.com/"] .bili-header__channel,
body[data-page-url*="https://www.bilibili.com/"] .header-channel,
body[data-page-url*="https://www.bilibili.com/"] .header-banner__inner,
body[data-page-url*="https://www.bilibili.com/"] .bili-header__banner,
body[data-page-url*="https://www.bilibili.com/"] .buttons.not-gray,
body[data-page-url="https://space.bilibili.com/"] .left-entry {
  display: none !important;
}
body[data-page-url*="https://www.bilibili.com/"] .animated-banner {
  opacity: 0;
  transition: opacity 1s ease; /* Adjust the duration as needed */
}