/* Common styles for multiple pages */
body[data-page-url*="https://www.bilibili.com/"],
body[data-page-url*="https://search.bilibili.com/"],
body[data-page-url*="https://message.bilibili.com/"],
body[data-page-url*="https://t.bilibili.com/"],
body[data-page-url*="https://www.bilibili.com/video/"],
body[data-page-url*="https://www.bilibili.com/account/history"],
body[data-page-url*="https://space.bilibili.com/"] {
  .left-entry,
  .vip-wrap,
  .trending,
  .v_tag,
  .comment,
  .tag-panel,
  .slide_ad,
  .rec-list,
  .rec-footer,
  .right-bottom-banner,
  .vcd,
  .ad-report.ad-floor-exp,
  .pop-live-small-mode.part-undefined,
  .pl__info,
  .bili-feed4-layout,
  .bili-header__channel,
  .header-channel,
  .header-banner__inner,
  .bili-header__banner,
  .buttons.not-gray,
  .bili-dyn-sidebar,
  .bili-dyn-banner,
  .activity-game-list-wrap,
  .right {
    display: none !important;
  }
}

/* Page-specific styles */
body[data-page-url*="https://www.bilibili.com/"] .animated-banner {
  opacity: 0;
  transition: opacity 1s ease; /* Adjust the duration as needed */
}

